{
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-console": 2,
    "no-debugger": 2,
    "callback-return": [2, ["callback", "cb", "next"]],
    "comma-dangle": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-inner-declarations": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-sparse-arrays": 2,
    "use-isnan": 2,
    "valid-jsdoc": 2,
    "no-reserved-keys": 1,
    "block-scoped-var": 2,
    "consistent-return": 2,
    "curly": 2,
    "default-case": 1,
    "dot-notation": 1,
    "no-empty-label": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    // ES6
    "arrow-parens": 2
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "riot": true
  },
  "extends": "eslint:recommended"
}